<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>

  <%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <%= print_nav(ApplicationController.new.header_nav) %>
  </nav>
</header>

<% if content_for?(:aside) %>
    <aside>
      <%= yield(:aside) %>
    </aside>
<% end %>

<section>
  <%= yield %>
</section>

<footer>
  <nav>
    <%= print_nav(ApplicationController.new.footer_nav) %>
    <span>&copy; 1960-2014, <a href="/">liceoalanturing.it</a></span>
  </nav>
</footer>

</body>
</html>
