<% check_session %>

<% content_for :title, "Area Riservata" %>

<%= flash[:message] %>
<div class="form_docente">
  <% if !params[:id].nil?
       docente = Teacher.find_by_id(params[:id])
  %>
      <h1>Modifica docente</h1>
      <%= form_for(:docente, :url => {:controller => 'area_riservata', :action => 'docente'}) do |f| %>
          <p>Nome:</br> <%= f.text_field(:nome, :value => docente.name) %> </p>

          <p>Cognome:</br> <%= f.text_field(:cognome, :value => docente.surname) %></p>

          <p>Curriculum:</br> <%= f.text_area(:curriculum, :value => docente.curriculum) %></p>

          <%= f.hidden_field(:id, :value => docente.id.to_s) %>
          <%= f.hidden_field(:azione, :value => "modifica") %>
          <%= f.submit(:Modifica) %>
      <% end %>

      <%= form_for(:docente, :url => {:controller => 'area_riservata', :action => 'docente'}) do |f| %>
          <%= f.hidden_field(:id, :value => docente.id.to_s) %>
          <%= f.hidden_field(:azione, :value => "cancella") %>
          <%= f.submit(:Cancella) %>
      <% end %>


<% else %>
      <h1>Nuovo docente</h1>
      <%= form_for(:docente, :url => {:controller => 'area_riservata', :action => 'docente'}) do |f| %>
          <p>Nome:</br> <%= f.text_field(:nome) %> </p>

          <p>Cognome:</br> <%= f.text_field(:cognome) %></p>

          <p>Curriculum:</br> <%= f.text_area(:curriculum) %></p>

          <%= f.hidden_field(:azione, :value => "nuovo") %>
          <%= f.submit(:Crea) %>
      <% end %>
  <% end %>
</div>