<% content_for :title, "Attività Extra • " + complete_activity_name %>
<% content_for :aside do %>
    <h1><%= complete_activity_name %></h1>
	<%= print_aside(attivita_aside) %>
<% end %>
<%= create_attivita_path %>

<div class='attivita'>
	<%= @s %>
</div>

<h2>Docenti responsabili</h2>
<%= @t %>

<%= create_attivita_next_previous %>

<%= back_to_index_attivita %>