<% content_for :title, "Classe • " + complete_class_name %>
<% content_for :aside do %>
	<h1><%= "Classe " + params[:year].to_s.capitalize + " " + params[:section].to_s.capitalize %></h1>
	<%= print_aside(classe_aside) %>

    <%= print_link_teachers %>
<% end %>

<%= create_class_path %>

<div class='board'>
	<%= @s %>
</div>

<%= back_to_index_classe %>