<% content_for :title, complete_class_name %>
<% content_for :aside do %>
    <h1><%= complete_class_name %></h1>
	<%= print_aside(classe_aside) %>

    <%= print_link_teachers %>
<% end %>
<%= create_class_path %>

<div class="coordinamento">
	<h1>Consiglio di Classe</h1>
	<%= @s %>
</div>

<%= back_to_index_classe %>