<% content_for :title, complete_class_name %>
<% content_for :aside do %>
    <h1><%= complete_class_name %></h1>
	<%= print_aside(classe_aside) %>

    <%= print_link_teachers %>
<% end %>
<%= create_class_path %>

<h1>Materiale Didattico</h1>
<p>Di seguito &egrave; elencata la lista del Materiale Didattico. I libri di testo elencati sono ritenuti obbligatori, sebbene non sia necessario possedere la versione cartacea degli stessi. &Egrave; per&ograve; ritenuto opportuno possedere l'ultima edizione dei testi, che vengono infatti costantemente aggiornati per correggere errori editoriali.</p>
<%= @s %>

<%= back_to_index_classe %>