<% content_for :title, "Classe • " + complete_class_name %>
<% content_for :aside do %>
    <h1><%= "Classe " + year_to_s(params[:year]).capitalize + " " + params[:section].to_s.capitalize %></h1>
	<%= print_aside(classe_aside) %>

    <%= print_link_teachers %>
<% end %>
<%= create_class_path %>

<%= back_to_index_classe %>